div.sitemap

	//p.archive-title Sitemap
				
	aside
		h2 Categories
		!= list_categories({ show_count: false })
		
	aside
		h2 Tags
		!= list_tags({ show_count: false })
		
	aside
		h2 Archives
		!= list_archives({ show_count: false })