div.footer
	span.mini
		a(href='#')
			i.fa.fa-arrow-up UP
		//div.col1
			a(href=url_for('faq-'+page.lang))
				i.fa.fa-book
			br
			span.mini 
				a(href=url_for('faq-'+page.lang)) FAQ
		
			
		//div.col1
			a(href=url_for('cv'))
				i.fa.fa-file-text.cv 
			br
			span.mini 
				a(href=url_for('cv')) CV
	//div.grid2.center
		div
			span.tiny 
				a(href=url_for(config.root)+'en')
					|English
		div
			span.tiny 
				a(href=url_for(config.root)+'es')
					|Spanish
	div.grid1.center
		div
			span.tiny misitioba&nbsp;
			span.tiny
				i.fa.fa-copyright 
			span.tiny &nbsp;2015