div#rockclimbingTarget.header
	//div.rockclimbing
		img(src=config.root+"img/header1.jpg")
	div.grid12
		div.col6.title
			span 
				a(href=url_for(config.root))
					i.fa.fa-terminal.relative
						= config.title
	//div.nav
		//
			li 
				a 
					i.fa.fa-briefcase
					|projects
		//	li 
				a 
					i.fa.fa-file-text.cv
					|cv
		li 
			a(href=url_for('archives')) 
				i.fa.fa-coffee
				|blog