
meta(name='description', content=config.description)

meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
	
link(href=config.root+'css/style.css',type='text/css',rel='stylesheet')

link(href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700',type='text/css',rel='stylesheet')

link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css',type='text/css',rel='stylesheet')


meta(name='viewport', content='width=device-width, initial-scale=1.0')


