div.header
	//div.rockclimbing
		img(src=config.root+"img/header1.jpg")
	div#rockclimbingTarget.grid12
		div.col6.title
			span 
				a(href=url_for(config.root))
					i.fa.fa-terminal
						= config.title
	div.nav.grid12
		div.col10
			span.mini
				= config.subtitle

hr
	