

h1 
	= _p('index.home.mi_nombre_es')
	br
	span.invert JAVIER L. ARANCIBIA
	br
	span 
	= _p('index.home.soy_un')
	br
	span.invert 
		= _p('index.home.desarrolla')

h2
	//|EN LA ACTUALIDAD REALIZO
	= _p('index.home.en_la_actualidad')
	br
	//span.invert SITIOS WEB
	span.invert
		= _p('index.home.sites')
	span 
		//|FRONT-END Y BACK-END
		= _p('index.home.sites_forwhat')
	br
	//|Y EN EL PASADO PARTICIPE EN EL DESARROLLO DE
	= _p('index.home.en_el_pasado')
	br
	span
		span.invert 
			//|APLICACIONES MOBILE HIBRIDAS
			= _p('index.home.mobile_apps')
		br
		//|Y TUVE EL GUSTO PARTICIPAR EN EL SECTOR DE
		= _p('index.home.tuve_el_gusto')
		br
		span.invert 
			//|VIDEOJUEGOS
			= _p('index.home.games')
		br
		//|ADEMAS, MI BACKGROUND PROFESIONAL VIENE DE 
		= _p('index.home.also_my_background')
		br
		span.invert 
			//|SISTEMAS DE GESTION CONTABLE.
			= _p('index.home.sistemas_de_gestion')
		br
		br
		span 
			=_p('index.home.por_cierto')
		span.invert
			=_p('index.home.me_encanta')
		span
			=_p('index.home.to')
		br
		span.invert
			=_p('index.home.viajar')
			|.
