article.article
		
		time(datetime=date_xml(page.date))= date(page.date)


		if page.link
			h2.article-title
				a(href=url_for(page.link) target="_blank")= page.title || 'No Title'
		else
			h2.article-title
				a(href=url_for(page.path))= page.title || 'No Title'
				
		div.content
			!= page.content
		
		hr

		div.meta
			if page.categories && page.categories.length
				p.meta-cats
					!= list_categories(page.categories, { show_count: false, style: 'none', separator: ', ' })
			
			if page.tags && page.tags.length
				p.meta-tags
					!= list_tags(page.tags, { show_count: false, style: 'none', separator: ', ' })

if config.disqus_shortname
	div#disqus_thread
	script
		|var disqus_shortname = '!{config.disqus_shortname}';
		if page.permalink
			|var disqus_url = '!{config.url+"/"+page.path}';
			|(function(){
			|var dsq = document.createElement('script');
			|dsq.type = 'text/javascript';
			|dsq.async=true;
			|var url  = '//' + disqus_shortname + '.disqus.com/';
			if page.comments
				|url += 'embed.js';
			else
				|url += 'count.js';
			|dsq.src= url;
			| (document.querySelector('head') || document.querySelector('body')).appendChild(dsq);
			|})();