extends _inc/layout

block headblock

	title
		if config.subtitle
			= config.title + ' | ' + config.subtitle
		else
			= config.title

block main

	//= url_for(page.lang+'/2015/11/30/faq-'+page.lang)

	div.main-content
		include _inc/home
	div.main-content.bg2.relative
		div.grid1
			div
				h1.text-center
					a(href=url_for('archives')).link
						|BLOG
			div
				h1.text-center
					a(href=url_for('cv')).link
						|CV



