extends _inc/layout-blog


block headblock

	title
		if config.subtitle
			= config.title + ' | ' + config.subtitle
		else
			= config.title

block main

	div.main-content
		include _inc/single_post


block beforeFooter
	if is_post()
		include _inc/footer-blog


