

.article p
	font-size em(10)
	font-weight: 300;
	padding: 5 0;

.article time
	font-size: 1vw
	
.article h2
	font-weight 600
	margin 25px 0px 15px 0px
	
.article .content
	//border: 3px solid black;
	padding: 5 10;
	
.article h5
	font-weight: 400;
	

pre 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 1.6em 0;
	border: 1px solid #E3EDF3;
	width: 100%;
	padding: 10px;
	margin: 15px 0;
	overflow: auto;
	background: #F7FAFB;
	border-radius: 3px;

pre span, pre code
	font-family: Inconsolata, monospace, sans-serif;
	font-size: 1.3vw
	white-space: pre;

@media (max-width: 375px)
	pre span, pre code
		font-size 3.4vw 
	figure.highlight
		margin 0 

pre code, tt
	//font-size: inherit;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
	background: transparent;
	border: none;
	padding: 0;


figure.highlight
	background:#fff;
	border-radius:0.3em;
	border:1px solid #e1e1e1;
	line-height:1.45em;
	font-size:.9em;
	margin-bottom:2.1em;
	color:#222;
	overflow:auto;
	white-space:pre;
	word-wrap:normal;

figure.highlight figcaption
	padding: 7px 10px;
	font-size: .8em;

figure.highlight table
	margin: 0;

figure.highlight table > tbody > tr > td 
	padding: 0;
	background: #fff !important;

figure.highlight table > tbody > tr > td.gutter 
	max-width: 40px;
	text-align: right;

figure.highlight pre 
	border: none;
	margin: 0;

