// Columnus
// ===========

// Based on the 12 column nestable Foundation Grid:
// http://foundation.zurb.com/docs/components/grid.html
// -----------------------------------------------------------------------------

// Imports
// -------

// Requires nib, unless you would rather handle the vendor prefixes yourself
@import 'nib'

// Functions
// ---------

grid(class = 'small', columns = 12)

  // Iterate through our columns
  for colCount in (1 .. columns)

    // Convert each column count to a percentage: i.e. 1/12
    percentWidth = 1% * ((colCount / columns) * 100)

    // Column class for the width
    .l_{class}_{colCount}
      width percentWidth

// Styles
// ------

.l_grid_wrap,
.l_grid
  overflow hidden

.l_grid
  list-style none
  margin 0 -1em
  clearfix()

  *
    box-sizing border-box

.l_column
  float left
  position relative
  padding 0 1em 2em

  img
    max-width 100%
    height auto
    ms-interpolation-mode bicubic

grid()

@media (min-width: 48em)

  grid('med')

@media (min-width: 64em)

  grid('large')