.footer
	background black
	color white 
	padding 5px 
	

.footer .center
	lost-center 200px

.footer ul
	max-width 200px 
	margin auto

.footer li
	padding 5px 
	

@media (max-width: 767px)
	.footer i,.footer span
		font-size 5vw 

.footer a
	text-decoration none
	color white
	
.sitemap
	background black
	color white
	padding: 0 10px
	
.sitemap a
	color white

.sitemap ul
	margin 0px

.sitemap ul li
	margin 0px
	padding: 0 0 0 20px;


