*
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;

body
	font-family 'Lato', sans-serif
	margin 0px
	padding 0px
	font-size 5em
	font-weight 300

.main-content
	padding-top 30px 
	padding-bottom 50px
	padding: 30 1vw 50 1vw;

.main-content.home
	//background linear-gradient(rgba(255, 0, 0, 0.45),rgba(255, 100, 255, 0.45)),url(../img/background1.jpg)
	background linear-gradient(rgba(255,0,0,0.35), rgba(255,255,255,0.60)), url("../img/background1.jpg")
	background-repeat no-repeat
	background-size cover

.main-content.bg2
	//background linear-gradient(rgba(255, 0, 0, 0.45),rgba(255, 100, 255, 0.45)),url(../img/background3.jpg)
	background linear-gradient(rgba(255,255,255,0.60), rgba(255,0,255,0.35)), url("../img/background3.jpg")
	background-repeat no-repeat
	background-size cover
	min-height 600px

.main-content a
		text-decoration none
		color black

ul
	list-style: none


a
	text-decoration none
	color black

a:hover
	text-decoration none
	
a.link:hover
	text-decoration underline

h1,span,h2,h3,h4,h5,h6
	font-family 'Lato', sans-serif
	font-weight 300
	padding 10 0 
p
	font-family 'Lato', sans-serif
	font-weight 300
	font-size 15px
	
span.invert
	background black
	color white
	
span.mini
	font-size 2vw

span.tiny
	font-size 22px!important
	font-weight 300 
	
h1
	line-height: 11vw;
	font-size: 7vw;
h2
	line-height: 7vw;
	font-size: 3vw;
	word-spacing: 8px;
	
.code *{
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
}

@media (max-width: 375px)
	span.mini
		font-size: 5vw

@media (max-width: 500px)
	body
		font-size 20px
	h2
		font-size 22px
	p
		font-size 20px 
	h1
		line-height 58px 
	h2
		line-height 38px 

@media (min-width: 768px)
	body
		font-size 32px
	p
		font-size 17px
	h1
		line-height 8vw
		font-size 5.5vw 
	h2
		line-height 80px 
	pre span, pre code
		font-size 1.2vw
@media (min-width: 1920px)
	body
		font-size 35px
	p
		font-size 1.5vw
	h1
		line-height 6vw
		font-size 5vw
	h2
		line-height 4vw
		font-size 3vw  
	pre span, pre code
		font-size 1.2vw