@lost flexbox flex;

.grid3
	lost-utility clearfix
.grid3 div
	lost-column 1/3


.grid1
	lost-utility clearfix
.grid1 div
	lost-column 1/1

.grid2
	lost-utility clearfix
.grid2 div
	lost-column 1/2


.center980
	lost-center 980px