.header
	min-height 100px

	.title
		padding 10 5

		a
			text-decoration none
			color black

		i
			font-size  5vw

span.title
	font-size  5vw

div.rockclimbing
	position absolute 
	right 0px

	img
		max-height: 225px; 