.nav
	background black
	color white
	padding: 0 10!important;
	
.nav a
	text-decoration none
	color white

.nav > div
	padding 10 0

.nav ul
	margin 0
	padding 0 20

.nav li
	padding 10 10

.nav li a
	font-size: 3vw;

.nav li a i
	min-width 60px

i.cv
	position relative
	left 3px 

//@media (min-width: 768px)
